.statistics{
    background: hsl(0, 2%, 90%);
    padding-bottom: 50px;
}

.advancedStatistics{
    padding: 10px;
}

.statistics-text{
    color: rgb(110, 110, 110);
    padding: 5px 15px;
    margin: 0 auto;
}

.service{
    margin-top: 50px;
}

.service-icons{
    background: hsl(257, 27%, 26%);
    border-radius: 50px;
    height: 60px;
    padding: 10px;
}

.service-text{
    background: white;
    height: 250px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}